$color-principal:#BF8D30;
$color-secundario:black;
$titulo:'Roboto Serif', serif;
$parrafo:'Spectral', serif;

%margin-padding{
    margin:0;
    padding:0;
}

%flex-column{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

%flex-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

%parrafo{
    font-family:$parrafo; 
    font-weight: bold;
}